body {
  background: #4b6cb7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #182848,
    #4b6cb7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #182848,
    #4b6cb7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1,
p,
a {
  font-family: "Carrois Gothic SC", sans-serif;
  display: block;
  text-align: center;
  line-height: 1.2;
  color: white;
}
.contenido {
  max-width: 1200px;
  margin: 5rem auto 0 auto;
  color: white;
  font-size: 2rem;
  font-family: "Carrois Gothic SC", sans-serif;
}
h1 {
  font-size: 3rem;
}
a {
  font-size: 2.2rem;
}
p {
  font-size: 2.2rem;
}

.hashtag {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 2rem;
}
.resultado {
  margin-top: 10rem;
  text-align: left;
  font-size: 2rem;
}
a {
  text-decoration: none;
}
p {
  line-height: 1.5;
}

/* CSS */
.button-4 {
  appearance: none;
  background-color: #fafbfc;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292e;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 10px;
  position: relative;
  top: 5;
  right: 100;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: end;
  white-space: nowrap;
  word-wrap: break-word;
}

.button-4:hover {
  background-color: #f3f4f6;
  text-decoration: none;
  transition-duration: 0.8 s;
}

.button-4:disabled {
  background-color: #fafbfc;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959da5;
  cursor: default;
}

.button-4:active {
  background-color: #edeff2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-4:focus {
  outline: 1px transparent;
}

.button-4:before {
  display: none;
}

.button-4:-webkit-details-marker {
  display: none;
}

.leftbutton {
  margin: 0;
  position: relative;
  top: 50%;
  left: 20%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.rightbutton {
  margin: 0;
  position: relative;
  bottom: 50%;
  left: 30%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media screen and (min-width: 992px) {
  .rightbutton {
    margin: 0;
    position: relative;
    bottom: 50%;
    left: 70%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
